body{

  background:#eee;
}




footer {
    background-color: #5b7d87;
    color: #fef9ff;
    text-align: center;
    width:100%;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}



table, th, td{

  border: 1px solid #0d1f2d;
  border-collapse: collapse;
  padding: 5px 10px;
}

table{
  width: 90%;
  margin:auto;
}

tr{
  height: 30px;
}


th {
    background-color: #546a7b;
    color: #f2eded;
}

/* tr:nth-child(even) {
    background-color: #e4c3ad;
} */



/* form */
label, fieldset{
  font-size: 1.1em;
}

input[type=text]{
  border: 1px solid #0d1f2d;
  width: 50%;
  padding: 8px 8px;
  margin: 12px 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

fieldset{
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
}

select, textarea{
  margin: 12px 0;
  font-size: 1em;
}

input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid #0d1f2d;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}

#form{
height: auto;
background-color: #fef9ff;
width: 60%;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid silver;
}









.pic{
  background: #f5f5f5;
  border: 4px solid grey;
  margin: 10px;
  color:white;
  width:200px;
  height: 200px;
  overflow: hidden;
}


.pic img{
width:200px;
height: 200px;
}
