body{
  margin: 0;
  background:#eee;
  padding: 0;
}


#profilePic{
   border-radius: 50%;
}


*{
  padding: 0;
  margin: 0;
}



footer {
    background-color: #5b7d87;
    color: #fef9ff;
    text-align: center;
    width:100%;
    padding: 30px 10px 20px 10px;
}

h1 {
    font-size: 2.5em;
}



table, th, td{

  border: 1px solid #0d1f2d;
  border-collapse: collapse;
  padding: 5px 10px;
}

table{
  width: 90%;
  margin:auto;
}

tr{
  height: 30px;
}


th {
    background-color: #546a7b;
    color: #f2eded;
}

/* tr:nth-child(even) {
    background-color: #e4c3ad;
} */



/* form */
label, fieldset{
  font-size: 1.1em;
}

input[type=text]{
  border: 1px solid #0d1f2d;
  width: 50%;
  padding: 8px 8px;
  margin: 12px 0;
  box-sizing: border-box;
  font-size: 1.1em;
}

fieldset{
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
}

select, textarea{
  margin: 12px 0;
  font-size: 1em;
}

input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 1px solid #0d1f2d;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}

#form{
height: auto;
background-color: #fef9ff;
width: 60%;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid silver;
}









.pic{
  background: #eee;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  color:black;
  width:200px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-family: 'arial';
  box-sizing: border-box;
  border-radius: 4px;
}

.pic:hover{
background-color: silver;
color:white;
}

.pic img{
width:250px;
height: 200px;
}


.caption{
 color:  #546a7b;
 font-weight: bold;
 font-family: 'arial';
}
